<ion-header>
  <ion-navbar>
    <ion-title>{{marca?.fipe_name}} > Escolha o Modelo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list inset>
  <button ion-item *ngFor="let modelo of modelos" (click)="modeloSelected(modelo)">
    {{ modelo.fipe_name }}
  </button> 
</ion-list>

</ion-content>
