<!--
  Generated template for the DetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>detalhes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <img [src]="img"/>
    <ion-card-content>
      <ion-card-title>
        {{anoModelo.name}}
        </ion-card-title>
      <ion-item>
        Marca: {{anoModelo.marca}}
      </ion-item>
      <ion-item>
        Ano {{anoModelo.ano_modelo}}
      </ion-item>  
      <ion-item>
        Valor {{anoModelo.preco}}
      </ion-item>            
    </ion-card-content>
  </ion-card>

</ion-content>
