<ion-header>
  <ion-navbar>
    <ion-title>Escolha a Marca</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list inset>
  <button ion-item *ngFor="let marca of marcas" (click)="marcaSelected(marca)">
    {{ marca.fipe_name }}
  </button> 
</ion-list>

</ion-content>
