<ion-header>
  <ion-navbar>
    <ion-title>{{modelo?.fipe_name}} > Ano/Modelo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-list inset>
  <button ion-item *ngFor="let ano of anos" (click)="anoSelected(ano)">
    {{ ano.name }}
  </button> 
</ion-list>

</ion-content>
